@{
    ViewData["Title"] = "All about JOEL";
}

<h2>Check out this awesome talent of his, COMEDY!</h2>
<a href="https://www.qwcomedy.com/" target="_blank">Visit Quick Wits Comedy</a>
<br><br/>

<h2>Check out the Baconsale site!</h2>
<a href="https://baconsale.com/" target="_blank">Visit Baconsale</a>
<br><br/>

<h2>I mean c'mon look how cool they look...</h2>
<br><br/>
<img src="~/img/BaconsaleKate.jpg" alt="Baconsale Crew" />